{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Devices Store</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'js/js.js' %}"></script>
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="width: 100%">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'pages'  %}"
            >Smart Devices Store</a
          >
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'pages'  %}">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Products<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'phones'  %}">Phones</a></li>
                <li><a href="{% url 'tablets'  %}">Tablets</a></li>
                <li><a href="{% url 'watches'  %}">Watches</a></li>
                <li><a href="{% url 'airpods'  %}">Airpods</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blog'  %}">Blog</a></li>
            <li><a href="{% url 'about'  %}">About</a></li>
            <li><a href="{% url 'contact'  %}">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'account'  %}">
                <span class="glyphicon glyphicon-user"></span> Profile
              </a>
            </li>
            <li>
              <a href="{% url 'signup'  %}">
                <img
                  width="20px"
                  height="20px"
                  src="https://img.icons8.com/officel/20/add-user-male.png"
                  alt="add-user-male"
                />
                Sign Up</a
              >
            </li>
            <li>
              <a href="{% url 'login'  %}"
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
            </li>
            <li>
              <a href="{% url 'cart'  %}"
                ><i
                  class="fa fa-shopping-cart"
                  style="font-size: 18px; color: white"
                  >cart
                </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div style="margin-top: 50px">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        {% comment %} In the updated code, the {% if forloop.first %}active{%
        endif %} condition is used to add the active class to the first slide
        (forloop.first represents the first iteration of the loop). This ensures
        that only the first slide has the active class, and the subsequent
        slides do not. {% endcomment %}
        <div class="carousel-inner">
          {% block content2 %} {% for cover in covers %}
          <div class="item {% if forloop.first %}active{% endif %}">
            <img
              src="{{ cover.image.url }}"
              alt="{{ cover.name }}"
              style="width: 100%; height: 500px"
            />
          </div>
          {% endfor %} {% endblock %}
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <section class="container">
      <h1 class="text-center">OUR PRODUCTS</h1>
      <div class="row">
        {% block content1 %} {% for logo in logoes %}
        <div class="col-sm-4">
          <div class="thumbnail">
            <img
              src="{{ logo.image.url }}"
              alt="{{ logo.name }}"
              style="width: 100%; height: 260px"
            />
            <div class="caption">
              <p class="text-center">{{ logo.desc }}</p>
            </div>
          </div>
        </div>
        {% endfor %} {% endblock %}
      </div>
    </section>
  </body>
</html>
