{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Smart Devices Store</title>
    <script src="{% static 'js/js.js' %}"></script>
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="js.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'pages'  %}"
            >Smart Devices Store</a
          >
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'pages'  %}">Home</a></li>
            <li class="dropdown active">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                >Products<span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="{% url 'phones'  %}">Phones</a></li>
                <li><a href="{% url 'tablets'  %}">Tablets</a></li>
                <li><a href="{% url 'watches'  %}">Watches</a></li>
                <li><a href="{% url 'airpods'  %}">Airpods</a></li>
              </ul>
            </li>
            <li><a href="{% url 'blog'  %}">Blog</a></li>
            <li><a href="{% url 'about'  %}">About</a></li>
            <li><a href="{% url 'contact'  %}">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'account'  %}">
                <span class="glyphicon glyphicon-user"></span> Profile
              </a>
            </li>
            <li>
              <a href="{% url 'signup'  %}">
                <img
                  width="20px"
                  height="20px"
                  src="https://img.icons8.com/officel/20/add-user-male.png"
                  alt="add-user-male"
                />
                Sign Up</a
              >
            </li>
            <li>
              <a href="{% url 'login'  %}"
                ><span class="glyphicon glyphicon-log-in"></span> Login</a
              >
            </li>
            <li>
              <a href="{% url 'cart'  %}"
                ><i
                  class="fa fa-shopping-cart"
                  style="font-size: 18px; color: white"
                  >cart</i
                ></a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br /><br /><br /><br /><br /><br />
    <div
      class="container"
      style="padding: 10px; border: 2px solid gray; margin-bottom: 50px"
    >
      {% block content %}
      <div class="row">
        <div class="col-sm-5">
          <img
            src="{{ phone.image.url }}"
            alt="{{ phone.name }}"
            style="width: 100%"
          />
        </div>
        <div class="col-sm-5">
          <br /><br />
          <h4>{{ phone.descrip }}</h4>
          <br /><br />
          <p>Price: {{ phone.price }} LE</p>
          <br /><br />
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <b> Add to Cart </b>
          </button>
          <br /><br /><br />
          <a href="{% url 'phones'  %}">Back to Phones Page</a>
        </div>
      </div>
      {% endblock %}
      <!-- Comment List Start -->
      {% block content2 %}
      <h2 class="text-center">Reviews</h2>
      {% for comment in phone.phonerate.all %}
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ comment.name }}</strong>
              <small>{{ comment.date_added }}</small>
              <br />
              {{ comment.body }}
            </p>
          </div>
        </div>
      </article>
      {% empty %}
      <div class="notification">
        <p>No Reviews yet!</p>
      </div>
      {% endfor %}
      <hr />
      <div class="bg-light rounded p-5">
        <h3 class="text-uppercase">Leave Your Review</h3>
        <form class="form" action="" method="Post">
          {% csrf_token %}
          <label>Name</label>
          <br />
          <input
            class="intxt"
            type="text"
            name="name"
            placeholder="Enter Your name.."
            required=""
          />
          <label>Email</label>
          <input
            class="intxt"
            type="email"
            name="email"
            placeholder="Enter Your Email.."
            required=""
          />
          <label>Review</label>
          <textarea
            class="txtarea"
            name="body"
            placeholder="Type Your Review"
            required=""
          ></textarea>
          <button type="submit" class="btn btn-success">Add Your Review</button>
        </form>
      </div>
      {% endblock %}
      <!-- Comment List End -->
    </div>
  </body>
</html>
